In [1]:
import pandas as pd

In [111]:
df= pd.read_csv('fifa_wordl_cup_historical_data_BS4 .csv')
df

           home         score      away  year
0       France            4–1    Mexico  1930
1    Argentina            1–0    France  1930
2        Chile            3–0    Mexico  1930
3        Chile            1–0    France  1930
4    Argentina            6–3    Mexico  1930
..          ...           ...       ...   ...
864    England            1–2    France  2022
865  Argentina            3–0   Croatia  2022
866     France            2–0   Morocco  2022
867    Croatia            2–1   Morocco  2022
868  Argentina   3–3 (a.e.t.)    France  2022

[869 rows x 4 columns]

## Delete blank spaces

In [116]:
df['home'] = df['home'].str.strip()
df['away'] = df['away'].str.strip()

## Null value check

In [114]:
# df_data_historica[df_data_historica['home'].isnull()]
df.dropna(inplace=True)
df.sort_values('year', inplace=True)

## Delete bias

In [120]:
index_eliminar=df[df['home'].str.contains('Sweden') & 
   df['away'].str.contains('Austria')].index

In [122]:
df.drop(index=index_eliminar, inplace=True)

## Clean data

In [139]:
# df[df['score'].str.contains('[^\d–]')]
df['score']=df['score'].str.replace('[^\d–]', '', regex=True)

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [140]:
df['home'] = df['home'].str.strip()
df['away'] = df['away'].str.strip()

In [145]:
df[['homeGoals', 'awayGoals']]=df['score'].str.split('–', expand=True)

In [147]:
df.drop('score', axis=1, inplace=True)

## Rename

In [149]:
df.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam', 'year': 'Year',
                   'homeGoals': 'HomeGoals', 'awayGoals': 'AwayGoals'}, inplace=True)

## Change types

In [156]:
df.dtypes
df=df.astype({'HomeGoals':int, 'AwayGoals':int, 'Year': int})

# Final results

In [159]:
df

      HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals
0       France         Mexico  1930          4          1
17     Uruguay      Argentina  1930          4          2
16     Uruguay     Yugoslavia  1930          6          1
15   Argentina  United States  1930          6          1
14    Paraguay        Belgium  1930          1          0
..         ...            ...   ...        ...        ...
831      Japan     Costa Rica  2022          0          1
832      Spain        Germany  2022          1          1
833      Japan          Spain  2022          2          1
835    Morocco        Croatia  2022          0          0
868  Argentina         France  2022          3          3

[868 rows x 5 columns]

#  Export dataFrame

In [161]:
df.to_csv('Clean_fifa_wordl_cup_historical_data_BS4 .csv', index=False)